h1{
    text-align: center;
    border :dotted 2px rgb(0, 0, 0);
    padding: 60px;
    background-color: #fff;
    
}
h2{ 
    text-align: center;
}
*
{
    background-color: rgb(116, 209, 243);
    
}

.table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #333;
    background-color: #fff;
    text-color: rgb(40, 29, 232);
}   

th, td {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}
div{
    text-align: center;
    padding: 20px;
    
}